body {
    background-color: #12141c;
}

header {
    display: flex;
    align-items: center;
    padding: 2px;
    background-color: #100f0f88;
    column-gap: 20px;
}
footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: #0c0d17;
    text-align: center;
    padding: 10px 0;
}

ul.navbar li a {
    color: #F0DBFF;
    text-decoration: none;
    padding: 50px;
    list-style: none;
    width: 100%;
    white-space: nowrap;
}
ul.navbar li a.here{
    color: #fff;
    font-size: 20px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    width: 25%;
    list-style: none;
    column-gap: 20px;
}

.search {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0px 20px;
    border-radius: 5px;
    background-color: #100f0f88;
}

h1 {
    color: #A855F7;
    width: 250px;
    align-items: center;
    padding: 0px 25px;
}

h2 {
    color: #fff;
    width: 250px;
    align-items: center;
    padding: 0px 25px;
}
input{
    width: 250px;
    height: 30px;
    background-color: #0f0e0e;
    border: 0px ;
    color: #f9f9f9;
}